* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
* a{
  color: white;
  text-decoration: none;
}
* li{
  list-style: none;
}
body{
  background: #000;
}
button{
  border: none;
  outline: none;
  background: #000;
  height: 3rem;
  width: 7rem;
  box-shadow: .1px .1px 5px 1px rgb(255, 217, 0, .5);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
button:hover{
  transform: translateY(-5px);
}
